.container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.parentItem {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	width: 100%;
	background: transparent;
}

.subItemsList {
	width: 100%;
}

.subItem {
	padding: 5px 35px;
	text-transform: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}

.icon {
	margin: 0 15px 0 0;
	width: 21px;
}