.btn {
	padding: 9px 40px 8px;
	background: #3DBDF6;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.btn:hover, .btn:focus {
	background: #37ACE0;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0001), 0px 5px 5px rgba(0, 0, 0, 0.16);
}

.btn:active {
	background: #0086C2;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0001), 0px 5px 5px rgba(0, 0, 0, 0.26);
}

.btn:disabled {
	background: #C8D1D5;
}